

<article>
    <header>
        <p>
            <f:render partial="Blog/Show/Backlink" arguments="{blog}" />
        </p>
        <f:render partial="Blog/Show/Headline" arguments="{blog.blog.0}" />
        <p class="created_date">
            {f:translate(key: 'created_label', extensionName: 'Blogext')}: 
            <time datetime="{f:format.date(format: '%Y-%m-%d', date: '{blog.blog.0.crdate}')}">
                <f:format.date format="%d. %B %Y">{blog.blog.0.crdate}</f:format.date>
            </time> 
            von {blog.author.0.realName}
        </p>
    </header> 
<section>
    <f:render partial="Blog/Show/Content" arguments="{blog}" />
</section>
<footer>
    <p>
        <b class="cat_label">Kategorie(n):</b> 
        <f:for each="{blog.categories}" as="category" iteration="i">
            <f:link.action action="category" controller="Blog" arguments="{categoryUid: category.0.uid}">
                <span class="cat">{category.0.title}</span>
            </f:link.action>
        </f:for>
    </p>
</footer>
</article>




<section id="comments">
    <f:if condition="{blog.blog.0.comments_disable} == 1">
        <div class="alert alert-primary" role="alert">
            {f:translate(key: 'comments_disable', extensionName: 'Blogext')}
        </div>
    </f:if>

    <f:if condition="{blog.blog.0.comments_disable} == 0">
        <div class="container-fluid m-0 p-0">
            <div class="row m-0 p-0">
                <f:if condition="{blog.success} == 1">
                    <div class="alert alert-success" role="alert">
                        <h3>Vielen Dank für dein Kommentar!</h3>
                        <p>Dein Beitrag wird nach erfolgreicher Überprüfung freigeschaltet!</p>
                      </div>
                </f:if>
                <f:if condition="{blog.captcha_false} == 1">
                    <div class="alert alert-danger" role="alert">
                        <h3>Folgender Fehler ist aufgetreten:</h3>
                        <p>Du hast einen falschen Captcha-Code eingegeben.</p>
                      </div>
                </f:if>

                <!-- Comment Form -->               
                <f:form action="writeComment" name="comment" class="comment-form m-0 p-0">
                    <div class="col-12">
                        <div style="position: relative; display: inline-block; width: 100%;">
                            <f:form.textarea name="comment" value="{comment}" required="required" value="{comment}" class="form-control m-0 p-0 text" id="comment" additionalAttributes="{placeholder: 'Deine Nachricht', rows: '10'}" />
                            <i class="fa-solid fa-message" style="position: absolute; left: 8px; top: 10%; transform: translateY(-10%);"></i>
                        </div>
                        <div style="position: relative; display: inline-block; width: 100%;">
                            <f:form.textfield name="name" value="{name}" class="form-control form-control-lg textfield" id="name" additionalAttributes="{placeholder: 'Dein Name'}" />
                            <i class="fa-solid fa-user" style="position: absolute; left: 8px; top: 50%; transform: translateY(-50%);"></i>
                        </div>
                        <div style="position: relative; display: inline-block; width: 100%;">
                            <f:form.textfield name="email" type="email" value="{email}" class="form-control form-control-lg textfield" id="email" additionalAttributes="{placeholder: 'Deine E-Mail Adresse'}" />
                            <i class="fa-solid fa-envelope" style="position: absolute; left: 8px; top: 50%; transform: translateY(-50%);"></i>
                        </div>
                        <div style="position: relative; display: inline-block; width: 100%;">
                            <f:form.textfield name="url" type="url" value="{url}" class="form-control form-control-lg textfield" id="url" additionalAttributes="{placeholder: 'Website'}" />
                            <i class="fa-solid fa-globe" style="position: absolute; left: 8px; top: 50%; transform: translateY(-50%);"></i>
                        </div>
                    </div> 
                        <f:form.hidden name="uid" value="{blog.blog.0.uid}" />
                        <div style="position: relative; display: inline-block; width: 100%;">
                            <img src="{captchaImage}" alt="Captcha">
                            <f:form.textfield name="captcha_input" id="captcha" required="required" class="form-control form-control-lg textfield" additionalAttributes="{placeholder: 'Bitte gebe die Zeichen aus dem Bild ein'}" />
                        </div>
                        <f:form.submit value="{f:translate(key: 'comment_send', extensionName: 'Blogext')}" name="submit" class="btn btn-primary" />
                    </div>
                </f:form>
            </div>
            
        </div>
    </f:if> 

    <!-- Comments -->
     <hr />
    <h2>{f:translate(key: 'comment_headline', extensionName: 'Blogext')}</h2>
    <small class="blogCount">{f:translate(key: 'comment_count', extensionName: 'Blogext')}: {blog.count.0.count}</small>
     <f:if condition="{blog.count.0.count} == 0">
        <f:then>
            <div class="alert alert-primary" role="alert">
                {f:translate(key: 'no_comments', extensionName: 'Blogext')}
            </div>
        </f:then>
        <f:else>
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-12">
                        <f:render partial="Blog/Show/Comments" arguments="{blog}" />
                    </div>
                </div>
             </div>
        </f:else>
     </f:if>
     
</section>