article.blogListArticle {
    display:inline-block;
    margin-bottom: 2.6rem;
}

 article.blogListArticle span.category_tag {
    display: flex; /* Flexbox verwenden */
    justify-content: center; /* Horizontale Zentrierung */
    align-items: center; /* Vertikale Zentrierung */
    background-color:rgb(212, 147, 25);
    font-size: 1em;
     padding:0.5em 1em;
     height: 2.4em;
     border-radius: 1.2em;
     border: 1px solid #ddd;
 }

 article.blogListArticle a {
    color:#fff;
    text-decoration: none;
 }

 article.blogListArticle a:hover span.category_tag {
    -webkit-box-shadow: 0px 0px 3px 1px #000000; 
    box-shadow: 0px 0px 3px 1px #000000;
    text-shadow: 1px 1px 3px #000;
 }

 p.created_at, p.created_from {
    font-style: italic;
    font-size:1.1rem;
 }

 div.categories-all {
    display:flex;
 }

 article.blogListArticle p.categories-button {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1.9rem;
 }

 /* Comment form fields */
form.comment-form input.textfield {
    padding-left: 2.5rem;
}
form.comment-form textarea.text {
    padding:2.5rem !important;
    padding-top:1.5rem !important;
    resize: none;
}


 /* Pagination */

ul.pagination {
    display: flex;
}

ul.pagination li {
    background-color: rgb(212, 147, 25);
    margin-right:1.8rem;
    display: block;
    font-size:1.5rem;
}

ul.pagination li:hover {
    -webkit-box-shadow: 0px 0px 3px 1px #000000; 
    box-shadow: 0px 0px 3px 1px #000000;
    text-shadow: 1px 1px 3px #000;
}

ul.pagination li b {
    display: block;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color:#464849;
}

ul.pagination li b.more {
    display: block;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color:#fff;
}

ul.pagination li a {
    display: block;
    padding:5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(212, 147, 25);
    color:#fff;
}

div.blogShowBacklink {
    margin-bottom: 1.7rem;
}

a.blogListLink {
    color:#181818;
}
a.blogListLink h2 {
    color:#181818;
}

span.cat {
    font-size: 1em;
     padding:0.3em 1em;
     margin-right: 1.3rem;
     height: 2.4em;
     border-radius: 1.2em;
     border: 1px solid #ddd;
     background-image: linear-gradient(to bottom, #efefef 30%, #ccc 80%);
     text-transform: uppercase;
     letter-spacing:1px;
     color:#777;
     text-shadow: 1px 1px 4px #fff;
     font-weight:bold;
}

p.created_date {
    font-style: italic;
    font-size:1rem;
}


/* Category Menu */
ul.blogext-categorymenu .usb, ul.blogext-categorymenu dfn {
    position: absolute;
    left:-50000px;
    top:-50000px;
    display: block;
}

ul.blogext-categorymenu {list-style: none; margin:0; padding:0;}
ul.blogext-categorymenu li.heading {background: radial-gradient(circle,#040312 0%,#535257 50%,#040312 100%); color:#ebebeb; text-align: center; padding:8px 0px 8px 0px;}
ul.blogext-categorymenu li.heading h3 {margin-bottom: 0;} 
ul.blogext-categorymenu li.cat {background-color:rgb(212, 147, 25); padding:8px 8px 8px 8px; border-bottom: 1px #ccc solid;} 
ul.blogext-categorymenu li.cat.last {border-bottom: 0;}
ul.blogext-categorymenu li.cat a::before {
    content: ''; 
    position: absolute;
    left: -15px; 
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #e7e4e4; 
    opacity: 0;
    transition: opacity 0.3s ease, left 0.3s ease;
  }
ul.blogext-categorymenu li.cat a {text-decoration: none; color: #ebebeb; display: block; padding-left: 0; transition: 0.3s all; position: relative;}
ul.blogext-categorymenu li.cat a:hover {color:#e7e4e4; padding-left:0.9rem;}
ul.blogext-categorymenu li.cat a:hover::before {
    opacity: 1; 
    left: 5px; 
  }
ul.blogext-categorymenu li.cat a.active {font-weight: bold; padding-left:0.9rem;}
ul.blogext-categorymenu li.cat a.active::before {
    content: ''; 
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #e7e4e4; 
    transition: opacity 0.3s ease, left 0.3s ease;
    opacity: 1; 
    left: 5px; 
}


/* Tagcloud */
div.tx-blogext-tagcloud .tx-blogext-tagcloud-header {
    text-align: center;
    background: radial-gradient(circle,#040312 0%,#535257 50%,#040312 100%);
    color: #ebebeb;
    text-align: center;
    padding: 8px 0px 8px 0px;
}
div.tx-blogext-tagcloud .tx-blogext-tagcloud-header h3 {
    margin-bottom: 0;
}
div.tx-blogext-tagcloud .tx-blogext-tagcloud-content {
    background-color: rgb(212, 147, 25);
    padding:1.6rem 0;
}
div.tx-blogext-tagcloud-content ul {
    list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: 2.5rem;
}
div.tx-blogext-tagcloud-content ul a {
    color: #a33;
  display: block;
  font-size: 1.5rem;
  padding: 0.125rem 0.25rem;
  text-decoration: none;
  position: relative;
}
div.tx-blogext-tagcloud-content ul a:hover {
    color:#fff;
    text-shadow: 1px 1px 3px #000;
}

/* Last articles */
div.teaser-button {
    text-align: center;
}
a.teaser-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 16px;
    transition: 0.4s all;
  }
  a.teaser-button:hover {
    background-color: #0056b3; 
  }

  .teaser-card {
    /* Größe und Stil */
  display: block;
  text-decoration: none;
  padding:1.1rem;
  color: inherit;
  background: linear-gradient(135deg, #f39c12, #d35400);
  border-radius: 10px;
  color:#fafafa;
  text-shadow: 1px 1px 2px #000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 
              0 6px 20px rgba(0, 0, 0, 0.19);
  overflow: hidden; /* Verhindert, dass Inhalte aus der Kachel herausragen */
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  }

  /* Hover-Effekt */
.teaser-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3), 
                0 8px 25px rgba(0, 0, 0, 0.25); 
  }


  .teaser-card:hover {
    /* Zoom-Effekt */
    transform: scale(1.10); /* Vergrößert die Kachel leicht */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3), 
                0 8px 25px rgba(0, 0, 0, 0.25); /* Erhöht den Schatten beim Hovern */
  }
  
  /* Zusätzlicher Effekt für Inhalte innerhalb der Kachel */
  .teaser-card h3, 
  .teaser-card .teaser-button, 
  .teaser-card p {
    transition: transform 0.3s ease;
  }
  
  .teaser-card:hover h3, 
  .teaser-card:hover .teaser-button, 
  .teaser-card:hover p {
    transform: scale(1.02); /* Vergrößert die Inhalte ebenfalls leicht */
  }