
<ul class="comments">
    <f:for each="{comments}" as="comment">
            <li>
                <article>
                    <header>
                        <f:if condition="{comment.url}">
                            <f:then>
                                <h3><f:link.external uri="{comment.url}" target="_blank">{comment.name}</f:link.external></h3>
                            </f:then>
                            <f:else>
                                <h3>{comment.name}</h3>
                            </f:else>
                        </f:if>
                        
                        <time datetime="{f:format.date(format: '%Y-%m-%dT%H:%m', date: '{comment.crdate}')}">
                            <f:format.date format="%d. %B %Y">{comment.crdate}</f:format.date>
                        </time> 
                    </header>
                    <f:format.nl2br>{comment.comment}</f:format.nl2br>
                </article>
            </li>
    </f:for>
</ul>