<link rel="stylesheet" type="text/css" href="{f:uri.resource(path: 'Css/Backend/bootstrap.css')}" />
<link rel="stylesheet" type="text/css" href="{f:uri.resource(path: 'Css/Backend/backend.css')}" />


<script src="{f:uri.resource(path: 'JavaScript/Backend/jquery-3.6.4.js')}"></script>
<script src="{f:uri.resource(path: 'JavaScript/Backend/bootstrap.bundle.min.js')}"></script>
<script src="{f:uri.resource(path: 'JavaScript/Backend/backend.js')}"></script> 


    

<f:render partial="BlogBackend/Navigation" arguments="{_all}" />

<h1 class="tx-blogext-module">Alle Blogbeiträge</h1>